#fab {
    border-radius: 50%;
    width:75px;
    height:75px;
    border:none;
    background-color: #3498db;
    bottom:50px;
    right:50px;
    position:fixed;
    box-shadow: 5px 5px rgba(10,10,10,.5);
    color:white;
    cursor: pointer;
    transition: all 0.3s ease;
    display:flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
#fab:hover {
    background-color: #2980b9;
    box-shadow: 8px 8px rgba(10, 10, 10, 0.3);
}
.material-symbols-outlined {
    font-size:50px !important;
}