.picture {
    border:1px solid black;
    width:200px;
    height:200px;
    position: relative;
    transition: left 1s ease;
}
#car {
    background-color: greenyellow;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}